<extend name="Public/base" />

<block name="body">
    <!-- 标题栏 -->
    <div class="main-title">
        <h2>物流信息</h2>
    </div>
    <div class="cf">
        <div class="fl">
            <form action="{:U('Project/excel')}" method="post" enctype="multipart/form-data">
                <input type="file" name="import"/>
                <input type="hidden" name="table" value="tablename"/>
                <input type="submit" value="导入"/>
            </form>
        </div>

        <!-- 高级搜索 -->
        <div class="search-form fr cf">
            <div class="sleft">
                <input type="text" name="logId" class="search-input" value="{:I('logId')}" placeholder="请输入配置名称">
                <a class="sch-btn" href="javascript:;" id="search" url="{:U('index')}"><i class="btn-search"></i></a>
            </div>
        </div>
    </div>
    <!-- 数据列表 -->
    <div class="data-table table-striped">
        <table class="">
            <thead>
            <tr>
                <th class="row-selected row-selected"><input class="check-all" type="checkbox"/></th>
                <th class="">UID</th>
                <th class="">货单号</th>
                <th class="">状态</th>
                <th class="">时间</th>
                <th class="">操作</th>
            </tr>
            </thead>
            <tbody>
            <volist name="_list" id="vo">
                <tr>
                    <td><input class="ids" type="checkbox" name="id[]" value="{$vo.uid}" /></td>
                    <td>{$vo.id} </td>
                    <td>{$vo.logistics_id}</td>
                    <td>{$vo.logistics_msg}</td>
                    <td>{$vo.time}</td>
                    <td>
                        <a href="{:U('Project/update?id='.$vo['id'])}" >更新状态</a>

                        <a href="{:U('Project/del?id='.$vo['id'])}" class="confirm ajax-get">删除</a>
                    </td>
                </tr>
            </volist>
            </tbody>
        </table>
    </div>
    <div class="page">
        {$_page}
    </div>
</block>

<block name="script">
    <script src="__STATIC__/thinkbox/jquery.thinkbox.js"></script>

    <script type="text/javascript">
        //搜索功能
        $("#search").click(function(){
            var url = $(this).attr('url');
            var query  = $('.search-form').find('input').serialize();
            query = query.replace(/(&|^)(\w*?\d*?\-*?_*?)*?=?((?=&)|(?=$))/g,'');
            query = query.replace(/^&/g,'');
            if( url.indexOf('?')>0 ){
                url += '&' + query;
            }else{
                url += '?' + query;
            }
            window.location.href = url;
        });
        //回车搜索
        $(".search-input").keyup(function(e){
            if(e.keyCode === 13){
                $("#search").click();
                return false;
            }
        });
        //导航高亮
        $('.side-sub-menu').find('a[href="{:U('User/index')}"]').closest('li').addClass('current');
    </script>
</block>
