<extend name="Public/base" />

<block name="body">
    <!-- 标题栏 -->
    <div class="main-title">
        <h2>物流历史记录</h2>
    </div>
    <div class="cf">
        <!--<div class="fl">-->
            <!--<input class="btn" type="button" value="发布" id="downPDF"/>-->
        <!--</div>-->

        <!-- 高级搜索 -->
        <div class="search-form fr cf">
            <div class="sleft">
                <!-- 生成pdf面单 -->
                <input type="text" name="waybill_number" class="search-input" value="{:I('waybill_number')}" placeholder="请输入运单编号">
                <a class="sch-btn" href="javascript:;" id="search" url="{:U('listIndex')}"><i class="btn-search"></i></a>
            </div>
        </div>
    </div>
    <!-- 数据列表 -->
    <div class="data-table table-striped">
        <table class="">
            <thead>
            <tr>
                <th class="row-selected row-selected"><input class="check-all" type="checkbox"/></th>
                <th class="">寄件人</th>
                <th class="">寄件人电话</th>
                <th class="">寄件公司</th>
                <th class="">寄件人地址</th>
                <th class="">日期</th>
                <th class="">收件人</th>
                <th class="">收件人电话</th>
                <th class="">收件人地址</th>
                <th class="">运单编号</th>
                <th class="">关联单号</th>
                <th class="">内容描述</th>

                <!--<th class="">操作</th>-->
            </tr>
            </thead>
            <tbody>
            <volist name="data" id="vo">
                <tr class="click">
                    <td>
                        <input class="ids" type="checkbox" name="id[]" value="{$vo.uid}" />
                    </td>
                    <td class="sender_name" name="sender_name">{$vo.sender_name} </td>
                    <td class="sender_phone" name="sender_phone">{$vo.sender_phone}</td>
                    <td class="sender_company" name="sender_company">{$vo.sender_company}</td>
                    <td class="sender_address" name="sender_address">{$vo.sender_address}</td>
                    <td class="date" name="date">{$vo.date} </td>
                    <td class="addressee_name" name="addressee_name">{$vo.addressee_name}</td>
                    <td class="addressee_phone" name="addressee_phone">{$vo.addressee_phone}</td>
                    <td class="addressee_address" name="addressee_address">{$vo.addressee_address}</td>
                    <td class="waybill_number" name="waybill_number">{$vo.waybill_number} </td>
                    <td class="associated_number" name="associated_number">{$vo.associated_number}</td>
                    <td class="desc" name="desc">{$vo.desc}</td>
                    <!--<td>-->
                        <!--<a href="{:U('Project/update?id='.$vo['id'])}" >更新状态</a>-->

                        <!--<a href="{:U('Project/del?id='.$vo['id'])}" class="confirm ajax-get">删除</a>-->
                    <!--</td>-->
                </tr>
            </volist>
            </tbody>
        </table>
    </div>
    <div class="page">
        {$_page}
    </div>
</block>

<block name="script">
    <script src="__STATIC__/thinkbox/jquery.thinkbox.js"></script>

    <script type="text/javascript">
        //搜索功能
        $("#search").click(function(){
            var url = $(this).attr('url');
            var query  = $('.search-form').find('input').serialize();
            query = query.replace(/(&|^)(\w*?\d*?\-*?_*?)*?=?((?=&)|(?=$))/g,'');
            query = query.replace(/^&/g,'');
            if( url.indexOf('?')>0 ){
                url += '&' + query;
            }else{
                url += '?' + query;
            }
            window.location.href = url;
        });

        $("#downPDF").on('click', function(){
            console.log('111111');
            var arr = [];
            var data = [];
            $("input[type='checkbox']:checked").each(function(e){
                // console.log(e);
                if (e == 0) return;
                arr['sender_name'] = $(this).parents('td').siblings('td.sender_name').text();
                arr['sender_phone'] = $(this).parents('td').siblings('td.sender_phone').text();
                arr['sender_company'] = $(this).parents('td').siblings('td.sender_company').text();
                arr['sender_address'] = $(this).parents('td').siblings('td.sender_address').text();
                arr['date'] = $(this).parents('td').siblings('td.date').text();
                arr['addressee_name'] = $(this).parents('td').siblings('td.addressee_name').text();
                arr['addressee_phone'] = $(this).parents('td').siblings('td.addressee_phone').text();
                arr['addressee_address'] = $(this).parents('td').siblings('td.addressee_address').text();
                arr['waybill_number'] = $(this).parents('td').siblings('td.waybill_number').text();
                arr['desc'] = $(this).parents('td').siblings('td.desc').text();
                data.push(arr);

            });

            console.log(data);
        });
        //回车搜索
        $(".search-input").keyup(function(e){
            if(e.keyCode === 13){
                $("#search").click();
                return false;
            }
        });
        //导航高亮
        $('.side-sub-menu').find('a[href="{:U('Project/listIndex')}"]').closest('li').addClass('current');
    </script>
</block>
