<!DOCTYPE html>
<html lang="zh-cn">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0,user-scalable=no,minimal-ui">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title></title>
    <!-- <link rel="stylesheet" href="__CSS__/normalize.css"> -->
    <link rel="stylesheet" href="__CSS__/main.css">
</head>

<body>
    <div class="wrap">
        <!-- 头 -->
        <div class="top">
            <table style="width: 100%;height: 100%;">
                <tr>
                    <td style="width: 10%;">
                        <img src="__PUBLIC__/Admin/images/haori-logo.png" alt="haori" class="logo">
                    </td>
                    <td style="width: 10%;font-size: 22px;padding-top: 20px;">昊日
                        <!-- <span class="haori-text">昊日</span> -->
                    </td>
                    <td style="width: 60%;text-align: right;font-size: 20px;padding-top: 20px;">国际件
                        <!-- <span class="inter-text">国际件</span> -->
                    </td>
                    <td style="width: 20%;padding-top: 20px;">2018-09-03
                        <!-- <span class="inter_time">2018-09-03</span> -->
                    </td>
                </tr>
            </table>
        </div>

        <!-- 快递详情 -->
        <div class="md_info">
            <div class="md_info_top">
                <table width="100%">
                    <tr>
                        <td width="100">寄件人：</td>
                        <td>王小川</td>
                    </tr>
                    <tr>
                        <td width="100">寄件人电话：</td>
                        <td>010-56899999</td>
                    </tr>
                    <tr>
                        <td width="100">寄件公司：</td>
                        <td>搜狗</td>
                    </tr>
                    <tr>
                        <td width="100">寄件人地址：</td>
                        <td>北京市海淀区中关村东路1号院搜狐网络大厦15层</td>
                    </tr>
                </table>
            </div>
            <div class="md_info_bottom">
                <!-- <div class="md_info_b_left">
                    <span>送达地址</span>
                </div> -->
                <table style="width: 100%;padding: 10px;">
                    <tr>
                        <td rowspan="3" style="font-size: 24px;padding-left: 30px;padding-right:20px;" width="110">送达地址</td>
                        <td style="width: 100px;">收件人：</td>
                        <td>张小龙</td>
                    </tr>
                    <tr>
                        <td style="width: 100px;">收件人电话：</td>
                        <td>020-81167888</td>
                    </tr>
                    <tr>
                        <td style="width: 100px;">收件人地址：</td>
                        <td>广州市海珠区新港中路397号TIT创意园腾讯公司4号楼综合接待楼</td>
                    </tr>
                </table>
            </div>
        </div>

        <!-- 条形码 -->
        <div class="barcode">
            <table style="width: 100%;text-align: center;">
                <tr>
                    <td>
                        <img src="" alt="这里是条形码">
                    </td>
                </tr>
            </table>
            
        </div>

        <!-- 运单编号 -->
        <div class="ship_code">
            <table style="width: 100%;height: 100%;padding: 10px;">
                <tr style="height: 100%;">
                    <td style="font-size: 22px;">运单编号：</td>
                    <td style="font-size: 22px;">3908071041460</td>
                </tr>
            </table>
        </div>

        <!-- 收件人签字/日期 -->
        <div class="revicesPr_time">
            <table width="100%" style="padding: 20px 0 20px 10px;height: 100%;">
                <tr height="100%" style="line-height: 100%;">
                    <td align="left" style="font-size: 18px;">收件人/代签人：</td>
                    <td align="center" style="font-size: 18px;">签单日期：&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;年&nbsp;&nbsp;&nbsp;月&nbsp;&nbsp;&nbsp;日</td>
                </tr>
            </table>
        </div>

        <!-- 关联单号 -->
        <div class="involveOrader">
            <table width="100%" style="padding: 10px;">
                <tr>
                    <td style="font-size: 22px;width: 130px;">关联单号：</td>
                    <td>F0550</td>
                </tr>
                <tr>
                    <td style="padding-top: 50px;font-size: 20px;padding-right: 30px;">3908071041460</td>
                    <td style="padding-top: 20px;">
                        <img class="io_barcode" src="" alt="这里还是条形码">
                    </td>
                </tr>
            </table>
        </div>

        <!-- 底部订单详情/内件描述 -->
        <div class="order_bottom">
            <div class="o_b_left">
                <table class="ob_left_table">
                    <tr>
                        <td class="ob_table_td">寄件人：</td>
                        <td class="ob_table_val">王小川</td>
                    </tr>
                    <tr>
                        <td class="ob_table_td">寄件人电话：</td>
                        <td class="ob_table_val">010-56899999</td>
                    </tr>
                    <tr>
                        <td class="ob_table_td">寄件人地址：</td>
                        <td class="ob_table_val">北京市海淀区中关村东路1号院搜狐网络大厦15层</td>
                    </tr>
                    <tr>
                        <td class="ob_table_td">收件人：</td>
                        <td class="ob_table_val">张小龙</td>
                    </tr>
                    <tr>
                        <td class="ob_table_td">收件人电话：</td>
                        <td class="ob_table_val">020-81167888</td>
                    </tr>
                    <tr>
                        <td class="ob_table_td">收件人地址：</td>
                        <td class="ob_table_val">广州市海珠区新港中路397号TIT创意园腾讯公司4号楼综合接待楼</td>
                    </tr>
                </table>
            </div>
            <div class="o_b_right">
                <span>内件描述：</span>
            </div>
        </div>
    </div>
</body>

</html>