<!DOCTYPE html>
<html lang="zh-cn">

<!--<head>-->
    <!--<meta charset="UTF-8">-->
    <!--<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0,user-scalable=no,minimal-ui">-->
    <!--<meta http-equiv="X-UA-Compatible" content="ie=edge">-->
    <!--<title>pdf模板</title>-->
    <!--<link rel="stylesheet" href="__CSS__/normalize.css">-->
    <!--<link rel="stylesheet" href="__CSS__/main.css">-->
<!--</head>-->

<body>
    <div class="wrap">
        <!-- 头 -->
        <div class="top">
            <img src="__PUBLIC__/Admin/images/haori-logo.png" alt="haori" class="logo">
            <span class="haori-text">昊日</span>
            <div class="inter">
                <span class="inter-text">国际件</span>
                <span class="inter_time">2018-09-03</span>
            </div>
        </div>

        <!-- 快递详情 -->
        <div class="md_info">
            <div class="md_info_top">
                <ul>
                    <li>
                        <span class="li-title">寄件人：</span>
                        <span>刘畅</span>
                    </li>
                    <li>
                        <span class="li-title">寄件人电话：</span>
                        <span>13501015420</span>
                    </li>
                    <li>
                        <span class="li-title">寄件公司：</span>
                        <span>北京恒华伟业科技股份有限公司</span>
                    </li>
                    <li>
                        <span class="li-title">寄件人地址：</span>
                        <span>北京市东城区安定门外大街138号皇城国际大厦A座508皇城国际大厦A座508</span>
                    </li>
                </ul>
            </div>
            <div class="md_info_bottom">
                <div class="md_info_b_left">
                    <span>送达地址</span>
                </div>
                <div class="md_info_b_right">
                    <ul>
                        <li>
                            <span class="li-title">收件人：</span>
                            <span></span>
                        </li>
                        <li>
                            <span class="li-title">收件人电话：</span>
                            
                        </li>
                        <li><span class="li-title">收件人地址：</span>
                            
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <!-- 条形码 -->
        <div class="barcode">

        </div>

        <!-- 运单编号 -->
        <div class="ship_code">
            <span>运单编号：</span>
            <span></span>
        </div>

        <!-- 收件人签字/日期 -->
        <div class="revicesPr_time">
            <div class="revp">
                <span>收件人/代签人：</span>

            </div>
            <div class="revt">
                <span>签单日期：</span>
            </div>
        </div>

        <!-- 关联单号 -->
        <div class="involveOrader">
            <span>关联单号：</span>
        </div>

        <!-- 底部订单详情/内件描述 -->
        <div class="order_bottom">
            <div class="o_b_left">
                <ul>
                    <li>寄件人：</li>
                    <li>寄件人电话：</li>
                    <li>寄件人地址：</li>
                    <li>收件人：</li>
                    <li>收件人电话：</li>
                    <li>收件人地址：</li>
                </ul>
            </div>
            <div class="o_b_right">
                <span>内件描述：</span>
            </div>
        </div>
    </div>
</body>

</html>