<!DOCTYPE html>
<html lang="zh-cn">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0,user-scalable=no,minimal-ui">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title></title>
    <!-- <link rel="stylesheet" href="__CSS__/normalize.css"> -->
    <link rel="stylesheet" href="__CSS__/main.css">
</head>

<body>
    <div class="wrap">
        <!-- 头 -->
        <div class="top">
            <table style="width: 100%;height: 100%;">
                <tr>
                    <td style="width: 10%;">
                        <img src="__PUBLIC__/Admin/images/haori-logo.png" alt="haori" class="logo">
                    </td>
                    <td style="width: 10%;font-size: 22px;padding-top: 20px;">昊日
                        <!-- <span class="haori-text">昊日</span> -->
                    </td>
                    <td style="width: 60%;text-align: right;font-size: 20px;padding-top: 20px;">国际件
                        <!-- <span class="inter-text">国际件</span> -->
                    </td>
                    <td style="width: 20%;padding-top: 20px;">{$data.date}
                        <!-- <span class="inter_time">2018-09-03</span> -->
                    </td>
                </tr>
            </table>
        </div>

        <!-- 快递详情 -->
        <div class="md_info">
            <div class="md_info_top">
                <table width="100%">
                    <tr>
                        <td width="100">寄件人：</td>
                        <td>{$data.sender_name}</td>
                    </tr>
                    <tr>
                        <td width="100">寄件人电话：</td>
                        <td>{$data.sender_phone}</td>
                    </tr>
                    <tr>
                        <td width="100">寄件公司：</td>
                        <td>{$data.sender_company}</td>
                    </tr>
                    <tr>
                        <td width="100">寄件人地址：</td>
                        <td>{$data.sender_address}</td>
                    </tr>
                </table>
            </div>
            <div class="md_info_bottom">
                <!-- <div class="md_info_b_left">
                    <span>送达地址</span>
                </div> -->
                <table style="width: 100%;padding: 10px;">
                    <tr>
                        <td rowspan="3" style="font-size: 24px;padding-left: 30px;padding-right:20px;" width="110">送达地址</td>
                        <td style="width: 100px;">收件人：</td>
                        <td>{$data.addressee_name}</td>
                    </tr>
                    <tr>
                        <td style="width: 100px;">收件人电话：</td>
                        <td>{$data.addressee_phone}</td>
                    </tr>
                    <tr>
                        <td style="width: 100px;">收件人地址：</td>
                        <td>{$data.addressee_address}</td>
                    </tr>
                </table>
            </div>
        </div>

        <!-- 条形码 -->
        <div class="barcode">
            <table style="width: 100%;text-align: center;">
                <td align="center">C128A</td>
                <td>CODE 128 A. Valid characters: [A-Z uppercase and control chars ASCII 0-31]. Checksum digit: automatic.</td>
                <td class="barcodecell"><barcode code="CODE 128 A" type="C128A" class="barcode" /></td>
                </tr>
                <tr>
                    <td align="center">C128B</td>
                    <td>CODE 128 B. Valid characters: [Upper / Lower Case + All ASCII Printable Characters]. Checksum digit: automatic.</td>
                    <td class="barcodecell"><barcode code="ABC123abc@456" type="C128B" class="barcode" /></td>
                </tr>
                <tr>
                    <td align="center">C128C</td>
                    <td>CODE 128 C. Valid characters: [0-9]. Must be an even number of digits. Checksum digit: automatic.</td>
                    <td class="barcodecell"><barcode code="0123456789" type="C128C" class="barcode" /></td>
                </tr>
                <tr>
                    <td align="center">EAN128C [A/B/C]</td>
                    <td>EAN128 (A, B, and C). Specified variant of Code 128, utilising an FNC1 start code. Also known as UCC/EAN-128 or GS1-128. Valid characters: [cf. Code 128]. Checksum digit: automatic.</td>
                    <td class="barcodecell"><barcode code="0112345678912343" type="EAN128C" class="barcode" /></td>
                </tr>
                <tr>
                    <td align="center">C39</td>
                    <td>CODE 39 - ANSI MH10.8M-1983 - USD-3 - 3 of 9. Valid characters: [0-9 A-Z \'-\' . Space $/+%]</td>
                    <td class="barcodecell"><barcode code="TEC-IT" type="C39" class="barcode" /></td>
                </tr>
                <tr>
                    <td align="center">C39+</td>
                    <td>CODE 39 + CHECKSUM. Checksum digit: automatic.</td>
                    <td class="barcodecell"><barcode code="39OR93" type="C39+" class="barcode" /></td>
                </tr>
                <tr>
                    <td align="center">C39E</td>
                    <td>CODE 39 EXTENDED. Valid characters: [ASCII-characters between 0..127]</td>
                    <td class="barcodecell"><barcode code="CODE 39 E" type="C39E" class="barcode" /></td>
                </tr>
                <tr>
                    <td align="center">C39E+</td>
                    <td>CODE 39 EXTENDED + CHECKSUM. Checksum digit: automatic.</td>
                    <td class="barcodecell"><barcode code="CODE 39 E+" type="C39E+" class="barcode" /></td>
                </tr>
                <tr>
                    <td align="center">S25</td>
                    <td>Standard 2 of 5. Valid characters: [0-9]</td>
                    <td class="barcodecell"><barcode code="54321068" type="S25" class="barcode" /></td>
                </tr>
                <tr>
                    <td align="center">S25+</td>
                    <td>Standard 2 of 5 + CHECKSUM. Valid characters: [0-9]. Checksum digit: automatic.</td>
                    <td class="barcodecell"><barcode code="54321068" type="S25+" class="barcode" /></td>
                </tr>
                <tr>
                    <td align="center">I25</td>
                    <td>Interleaved 2 of 5. Valid characters: [0-9]</td>
                    <td class="barcodecell"><barcode code="54321068" type="I25" class="barcode" /></td>
                </tr>
                <tr>
                    <td align="center">I25+</td>
                    <td>Interleaved 2 of 5 + CHECKSUM. Valid characters: [0-9]. Checksum digit: automatic.</td>
                    <td class="barcodecell"><barcode code="54321068" type="I25+" class="barcode" /></td>
                </tr>
                <tr>
                    <td align="center">I25B</td>
                    <td>Interleaved 2 of 5 with bearer bars. Valid characters: [0-9]</td>
                    <td class="barcodecell"><barcode code="1234567" type="I25B" class="barcode" /></td>
                </tr>
                <tr>
                    <td align="center">I25B+</td>
                    <td>Interleaved 2 of 5 + CHECKSUM with bearer bars. Valid characters: [0-9]. Checksum digit: automatic.</td>
                    <td class="barcodecell"><barcode code="1234567" type="I25B+" class="barcode" /></td>
                </tr>
                <tr>
                    <td align="center">C93</td>
                    <td>CODE 93 - USS-93 (extended). Valid characters: [ASCII-characters between 0..127]. Checksum digits: automatic.</td>
                    <td class="barcodecell"><barcode code="39OR93" type="C93" class="barcode" /></td>
                </tr>
                <tr>
                    <td align="center">MSI</td>
                    <td>MSI. Modified Plessey. Valid characters: [0-9]</td>
                    <td class="barcodecell"><barcode code="01234567897" type="MSI" class="barcode" /></td>
                </tr>
                <tr>
                    <td align="center">MSI+</td>
                    <td>MSI + CHECKSUM (module 11). Checksum digit: automatic.</td>
                    <td class="barcodecell"><barcode code="0123456789" type="MSI+" class="barcode" /></td>
                </tr>
                <tr>
                    <td align="center">CODABAR</td>
                    <td>CODABAR. Valid characters: [0-9 \'-\' $:/.+ ABCD] ABCD are used as stop and start characters e.g. A34698735B</td>
                    <td class="barcodecell"><barcode code="A34698735B" type="CODABAR" class="barcode" /></td>
                </tr>
                <tr>
                    <td align="center">CODE11</td>
                    <td>CODE 11. Valid characters: [0-9 and \'-\']. Checksum digits: 1 (or 2 if length of code is > 10 characters) - automatic.</td>
                    <td class="barcodecell"><barcode code="123-456-789" type="CODE11" class="barcode" /></td>
                </tr>
                <tr>

                    <!--<td class =“barcodecell”> <barcode code = "01234567897" type ="MSI" class ="barcode"/> </td>-->
                    <!--<td>-->
                        <!--<img src="" alt="这里是条形码">-->
                    <!--</td>-->
                </tr>
            </table>
            
        </div>

        <!-- 运单编号 -->
        <div class="ship_code">
            <table style="width: 100%;height: 100%;padding: 10px;">
                <tr style="height: 100%;">
                    <td style="font-size: 22px;">运单编号：</td>
                    <td style="font-size: 22px;">{$data.waybill_number}</td>
                </tr>
            </table>
        </div>

        <!-- 收件人签字/日期 -->
        <div class="revicesPr_time">
            <table width="100%" style="padding: 20px 0 20px 10px;height: 100%;">
                <tr height="100%" style="line-height: 100%;">
                    <td align="left" style="font-size: 18px;">收件人/代签人：</td>
                    <td align="center" style="font-size: 18px;">签单日期：&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;年&nbsp;&nbsp;&nbsp;月&nbsp;&nbsp;&nbsp;日</td>
                </tr>
            </table>
        </div>

        <!-- 关联单号 -->
        <div class="involveOrader">
            <table width="100%" style="padding: 10px;">
                <tr>
                    <td style="font-size: 22px;width: 130px;">关联单号：</td>
                    <td>{$data.associated_number}</td>
                </tr>
                <tr>
                    <td style="padding-top: 50px;font-size: 20px;padding-right: 30px;">{$data.waybill_number}</td>
                    <td style="padding-top: 20px;">
                        <img class="io_barcode" src="" alt="这里还是条形码">
                    </td>
                </tr>
            </table>
        </div>

        <!-- 底部订单详情/内件描述 -->
        <div class="order_bottom">
            <div class="o_b_left">
                <table class="ob_left_table">
                    <tr>
                        <td class="ob_table_td">寄件人：</td>
                        <td class="ob_table_val">{$data.sender_name}</td>
                    </tr>
                    <tr>
                        <td class="ob_table_td">寄件人电话：</td>
                        <td class="ob_table_val">{$data.sender_phone}</td>
                    </tr>
                    <tr>
                        <td class="ob_table_td">寄件人地址：</td>
                        <td class="ob_table_val">{$data.sender_address}</td>
                    </tr>
                    <tr>
                        <td class="ob_table_td">收件人：</td>
                        <td class="ob_table_val">{$data.addressee_name}</td>
                    </tr>
                    <tr>
                        <td class="ob_table_td">收件人电话：</td>
                        <td class="ob_table_val">{$data.addressee_phone}</td>
                    </tr>
                    <tr>
                        <td class="ob_table_td">收件人地址：</td>
                        <td class="ob_table_val">{$data.addressee_address}</td>
                    </tr>
                </table>
            </div>
            <div class="o_b_right">
                <span>内件描述：{$data.desc}</span>
            </div>
        </div>
    </div>
</body>

</html>