<!-- 导航条
================================================== -->
<!--<div class="navbar navbar-inverse navbar-fixed-top">-->
    <!--<div class="navbar-inner">-->
        <!--<div class="container">-->
            <!--&lt;!&ndash;<a class="brand" href="{:U('index/index')}">物流查找系统</a>&ndash;&gt;-->
            <!--&lt;!&ndash;<button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">&ndash;&gt;-->
                <!--&lt;!&ndash;<span class="icon-bar"></span>&ndash;&gt;-->
                <!--&lt;!&ndash;<span class="icon-bar"></span>&ndash;&gt;-->
                <!--&lt;!&ndash;<span class="icon-bar"></span>&ndash;&gt;-->
            <!--&lt;!&ndash;</button>&ndash;&gt;-->
            <!--<div class="nav-collapse collapse">-->
                <!--&lt;!&ndash;<ul class="nav">&ndash;&gt;-->
                    <!--&lt;!&ndash;<think:nav name="nav">&ndash;&gt;-->
                        <!--&lt;!&ndash;<li>&ndash;&gt;-->
                            <!--&lt;!&ndash;<a href="{$nav.url|get_nav_url}">{$nav.title}</a>&ndash;&gt;-->
                        <!--&lt;!&ndash;</li>&ndash;&gt;-->
                    <!--&lt;!&ndash;</think:nav>&ndash;&gt;-->
                <!--&lt;!&ndash;</ul>&ndash;&gt;-->
            <!--</div>-->
            <!--&lt;!&ndash;<div class="nav-collapse collapse pull-right">&ndash;&gt;-->
                <!--&lt;!&ndash;<if condition="is_login()">&ndash;&gt;-->
                    <!--&lt;!&ndash;<ul class="nav" style="margin-right:0">&ndash;&gt;-->
                        <!--&lt;!&ndash;<li class="dropdown">&ndash;&gt;-->
                            <!--&lt;!&ndash;<a href="#" class="dropdown-toggle" data-toggle="dropdown" style="padding-left:0;padding-right:0">{:get_username()} <b class="caret"></b></a>&ndash;&gt;-->
                            <!--&lt;!&ndash;<ul class="dropdown-menu">&ndash;&gt;-->
                                <!--&lt;!&ndash;<li><a href="{:U('User/profile')}">修改密码</a></li>&ndash;&gt;-->
                                <!--&lt;!&ndash;<li><a href="{:U('User/logout')}">退出</a></li>&ndash;&gt;-->
                            <!--&lt;!&ndash;</ul>&ndash;&gt;-->
                        <!--&lt;!&ndash;</li>&ndash;&gt;-->
                    <!--&lt;!&ndash;</ul>&ndash;&gt;-->
                <!--&lt;!&ndash;<else/>&ndash;&gt;-->
                    <!--&lt;!&ndash;<ul class="nav" style="margin-right:0">&ndash;&gt;-->
                        <!--&lt;!&ndash;<li>&ndash;&gt;-->
                            <!--&lt;!&ndash;<a href="{:U('User/login')}">登录</a>&ndash;&gt;-->
                        <!--&lt;!&ndash;</li>&ndash;&gt;-->
                        <!--&lt;!&ndash;<li>&ndash;&gt;-->
                            <!--&lt;!&ndash;<a href="{:U('User/register')}" style="padding-left:0;padding-right:0">注册</a>&ndash;&gt;-->
                        <!--&lt;!&ndash;</li>&ndash;&gt;-->
                    <!--&lt;!&ndash;</ul>&ndash;&gt;-->
                <!--&lt;!&ndash;</if>&ndash;&gt;-->
            <!--&lt;!&ndash;</div>&ndash;&gt;-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->
